{% block head %}
    <script type="text/javascript">
        function clearRecent(){
            $.ajax({
                type: "GET",
                url: "/clear",
                success: function (data) {
                    location.reload()
              },
            });                
        }
    </script>
{% endblock %}

{% extends "layout.html" %}
{% block title %}Recent Urls{% endblock %}
{% block body %}
    <a href="#" onclick="return clearRecent();">Clear Recent</a>
  {% for recipe in recentRecipes %}
  <p>
      {% if recipe.time %}
          {{recipe.time.strftime("%Y-%m-%d %H:%M:%S")}} : 
      {% endif %}
      <a href="{{recipe.url}}" target="_blank">{{recipe.url}}</a>
      {% if recipe.savedName %}
         <b> (Saved as {{recipe.savedName}})</b>
      {% endif %}
  </p>
  {% endfor %}
{% endblock %}


